# Remove .ipynb files for now
*.ipynb

.DS_Store

# Matlab files
*.m

# Compiled Python code
*.pyc

# Jupyter Notebook checkpoints directory
.ipynb_checkpoints/

# Data directory
data/

# EEG data files
*.easy
*.info
*.set
*.fdt
*.fif
